.music-player-container {
    min-height: 80vh;
    max-height: 80vh;
    /* background: rgba(207, 211, 226, 0.523); */
    margin-left:3vw;
    margin-right:0.5vw;
    margin-top:12vh;
    min-width: 25vw;
    
    
}
.music-player-container > h2 {
    color: var(--color-primary);
}

.music-player-container > p {
    color: var(--color-accent);
}

.music-player-container > img {
    position: relative;
    width: 27vw;
    height: 50vh;
    max-height:50vh;
    max-width:50w;
    border-radius: 4rem ;
    
}

.music-player-card {
    position: relative;
    bottom: 0;
}

.album-art {
    position: relative;
    padding-bottom: 2rem;
    height: 60vh;
    max-height: 60vh;
}

.song-details {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.song-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.song-controls > a{
    display:  block;
    align-content: center;
    gap:1.5rem;
    height: 5rem;
    
    /* background: rebeccapurple; */
}
