@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Shadows+Into+Light&display=swap');

.App {
  color:black;
}

.header-container {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.header-container > h1 {
  padding-left: 45vw;
  padding-top: 0.5rem;
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px;
}


.header-container .search input[type=text]{
  align-self: center;
  padding: 6px;
  margin-top: 2rem;
  margin-right: 2rem;
  background:var(--color-bg-variant);
  width:30vw;
}

.body-container {
  display: flex;
  flex-direction: row;
}

.body-container .lyrics{
  margin-left: 2.8vw;
  margin-right: 0.5vw;
  padding-left: 2rem;
  padding-top: 1rem;
  margin-bottom: 7.5vh;
  margin-top: 5rem;
  border: solid #000;
  border-width: 1px 1px;
  border-radius: 2rem;
  width: 27vw;
  /* height: 100vh; */
}

.body-container > .lyrics > h2 {
  font-family: 'Shadows Into Light', cursive;
  /* padding-left: 45vw; */
}

